[submodule "external/madrona"]
	path = external/madrona
	url = https://github.com/shacklettbp/madrona.git
[submodule "external/mcp-python"]
	path = external/mcp-python
	url = https://github.com/hdresearch/mcp-python.git
