[submodule "external/madrona"]
	path = external/madrona
	url = git@github.com:DuaneNielsen/madrona.git
	ignore = dirty
[submodule "external/mcp-gdb"]
	path = external/mcp-gdb
	url = git@github.com:DuaneNielsen/mcp-gdb.git
