/build
/out
/build-debug
/.vs
/CMakeSettings.json
/scripts/__pycache__
/train_src/madrona_escape_room_learn/__pycache__
uv.lock
/test_recordings
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
imgui.ini

# IDE configuration
.idea/

# Temporary/scratch files
scratch/
